.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes unravel {
  0% { content: ''; }
  10% { content: 'N'; }
  20% { content: 'NE'; }
  30% { content: 'NET'; }
  40% { content: 'NETX'; }
  50% { content: 'NETXS'; }
  60% { content: 'NETXSP'; }
  70% { content: 'NETXSPE'; }
  80% { content: 'NETXSPEE'; }
  90% { content: 'NETXSPEED'; }
  100% { content: 'NETXSPEED'; }
}

.loading-text {
  font-size: 24px;
  font-weight: bold;
  animation: unravel 2s steps(10) forwards;
  overflow: hidden;
  white-space: nowrap;
}
